body { padding: 0; margin: 0 }
#gameContainer { position: absolute }
#gameContainer, #unity-canvas {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width: 100%!important;
    height:100%!important;
}
#unity-canvas {
    background: url(../images/backgroundTexture.png);
    /*z-index: -5;*/
}
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none; z-index:3; }
#unity-logo { width: 154px; height: 130px; background: url('../images/unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('../images/progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('../images/progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('../images/webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('../images/fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
#loadingText{text-align: center;margin-top: 10px;font-size: 2em;color: #DDD;}
@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}
.spinner {border: 6px solid #f3f3f3;border-top: 6px solid #3498db;border-radius: 50%;width: 60px;height: 60px;animation: spin 1s linear infinite;margin: 0 auto;}

.webgl-content .footer .bug,
.webgl-content .footer .category,
.webgl-content .footer .fullscreen,
.webgl-content .footer .leaderboard,
.webgl-content .footer .discord {
  visibility: visible;
}
.webgl-content .footer .leaderboard.active,
  .webgl-content .footer .discord.active {
  background-color: #0d95ce;
}
.webgl-content {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}
.webgl-content .footer {
  width: 100%;
}
.preroll-placeholder {
    z-index:99;
    align-items: center;
    background: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}
.preroll-placeholder .thumbnail {
    background-image: url(../images/drift-hunters-max-2024-1-300x169.webp);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: inline-block;
    height: 210px;
    width: 256px;
    z-index: 1;
}
@media (max-width: 474px) {
  .preroll-placeholder .thumbnail {
    height: 80px!important;
    width: 120px!important;
  }
}
.preroll-placeholder .cta {
    background: linear-gradient(180deg, #f3843c 0%, #e93f3a 100%);
    border-radius: 10px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    font-size: 30px;
    margin: 25px 0 0;
    padding: 20px 49px;
    text-transform: uppercase;
    z-index: 1;
}
.preroll-placeholder:before {
    background-image: url(../images/drift-hunters-max-2024-1-300x169.webp);
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    position: absolute;
    right: 0px;
    top: 0px;
}
